@model Fab.ViewModels.HumanResourcesPageVM

@{
    ViewData["Title"] = "Vacancies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <section id="head_bg" style="background-image: url(./assets/img/insan.resurslari/bg-other.png);">
        <div class="container">

            @if (Model.LangCode == "az")
            {
                <div class="ir-title">
                    <div class="ir-title-links">
                        <a asp-controller="Home" asp-action="Index">Ana səhifə</a>
                        <img src="~/assets/img/ir.svg" alt="svg">
                        <a asp-controller="HumanResources" asp-action="Index">İnsan Resursları</a>
                        <img src="~/assets/img/ir.svg" alt="svg">
                        <a asp-controller="HumanResources" asp-action="Vacancies">Vakansiyalar</a>
                    </div>
                    <div class="ir-title-text">
                        <p>Vakansiyalar</p>
                    </div>
                </div>
            }
            else if (Model.LangCode == "en")
            {
                <div class="ir-title">
                    <div class="ir-title-links">
                        <a asp-controller="Home" asp-action="Index">Home Page</a>
                        <img src="~/assets/img/ir.svg" alt="svg">
                        <a asp-controller="HumanResources" asp-action="Index">Human Resources</a>
                        <img src="~/assets/img/ir.svg" alt="svg">
                        <a asp-controller="HumanResources" asp-action="Vacancies">Vacancies</a>
                    </div>
                    <div class="ir-title-text">
                        <p>Vacancies</p>
                    </div>
                </div>
            }
            else
            {

                <div class="ir-title">
                    <div class="ir-title-links">
                        <a asp-controller="Home" asp-action="Index">Главная</a>
                        <img src="~/assets/img/ir.svg" alt="svg">
                        <a asp-controller="HumanResources" asp-action="Index">Человеческие ресурсы</a>
                        <img src="~/assets/img/ir.svg" alt="svg">
                        <a asp-controller="HumanResources" asp-action="Vacancies">Вакансии</a>
                    </div>
                    <div class="ir-title-text">
                        <p>Вакансии</p>
                    </div>
                </div>
             
            }
          
        </div>
    </section>

    <section id="all-vacancy">
        <div class="container">
            <div class="all-vacancy-list">
                @foreach (var vacancy in Model.Vacancies)
                {
                    @if (Model.LangCode == "az")
                    {
                        <div class="all-vacancy-list-item">
                            <div class="vacancy-title">
                                <p class="vacancy-title-name">@vacancy.Translates.FirstOrDefault().Position</p>
                                <div class="vacancy-location-date">
                                    <p class="vacancy-location">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                                            <path d="M6.5 0C3.79082 0 1.625 2.16582 1.625 4.875C1.625 5.81191 1.9043 6.53555 2.38926 7.26934L5.98711 12.7283C6.09629 12.8934 6.28418 13 6.5 13C6.71582 13 6.90625 12.8908 7.01289 12.7283L10.6107 7.26934C11.0957 6.53555 11.375 5.81191 11.375 4.875C11.375 2.16582 9.20918 0 6.5 0ZM6.5 7.58164C5.00449 7.58164 3.79082 6.36797 3.79082 4.86992C3.79082 3.37188 5.00449 2.1582 6.5 2.1582C7.99551 2.1582 9.20918 3.37188 9.20918 4.86992C9.20918 6.36797 7.99551 7.58164 6.5 7.58164Z" fill="#555555" fill-opacity="0.5" />
                                        </svg>
                                        Bakı, Azərbaycan
                                    </p>
                                    <p class="vacancy-date">
                                        @vacancy.CreatedDate
                                    </p>
                                </div>
                            </div>
                            <div class="vacancy-detail">
                                <a asp-controller="HumanResources" asp-action="VacancyDetail" asp-route-id="@vacancy.Id">Ətraflı</a>
                            </div>
                        </div>
                    }
                    else if (Model.LangCode == "en")
                    {
                        <div class="all-vacancy-list-item">
                            <div class="vacancy-title">
                                <p class="vacancy-title-name">@vacancy.Translates.FirstOrDefault().Position</p>
                                <div class="vacancy-location-date">
                                    <p class="vacancy-location">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                                            <path d="M6.5 0C3.79082 0 1.625 2.16582 1.625 4.875C1.625 5.81191 1.9043 6.53555 2.38926 7.26934L5.98711 12.7283C6.09629 12.8934 6.28418 13 6.5 13C6.71582 13 6.90625 12.8908 7.01289 12.7283L10.6107 7.26934C11.0957 6.53555 11.375 5.81191 11.375 4.875C11.375 2.16582 9.20918 0 6.5 0ZM6.5 7.58164C5.00449 7.58164 3.79082 6.36797 3.79082 4.86992C3.79082 3.37188 5.00449 2.1582 6.5 2.1582C7.99551 2.1582 9.20918 3.37188 9.20918 4.86992C9.20918 6.36797 7.99551 7.58164 6.5 7.58164Z" fill="#555555" fill-opacity="0.5" />
                                        </svg>
                                        Bakı, Azərbaycan
                                    </p>
                                    <p class="vacancy-date">
                                        @vacancy.CreatedDate
                                    </p>
                                </div>
                            </div>
                            <div class="vacancy-detail">
                                <a asp-controller="HumanResources" asp-action="VacancyDetail" asp-route-id="@vacancy.Id">Detail</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="all-vacancy-list-item">
                            <div class="vacancy-title">
                                <p class="vacancy-title-name">@vacancy.Translates.FirstOrDefault().Position</p>
                                <div class="vacancy-location-date">
                                    <p class="vacancy-location">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                                            <path d="M6.5 0C3.79082 0 1.625 2.16582 1.625 4.875C1.625 5.81191 1.9043 6.53555 2.38926 7.26934L5.98711 12.7283C6.09629 12.8934 6.28418 13 6.5 13C6.71582 13 6.90625 12.8908 7.01289 12.7283L10.6107 7.26934C11.0957 6.53555 11.375 5.81191 11.375 4.875C11.375 2.16582 9.20918 0 6.5 0ZM6.5 7.58164C5.00449 7.58164 3.79082 6.36797 3.79082 4.86992C3.79082 3.37188 5.00449 2.1582 6.5 2.1582C7.99551 2.1582 9.20918 3.37188 9.20918 4.86992C9.20918 6.36797 7.99551 7.58164 6.5 7.58164Z" fill="#555555" fill-opacity="0.5" />
                                        </svg>
                                        Bakı, Azərbaycan
                                    </p>
                                    <p class="vacancy-date">
                                        @vacancy.CreatedDate
                                    </p>
                                </div>
                            </div>
                            <div class="vacancy-detail">
                                <a asp-controller="HumanResources" asp-action="VacancyDetail"  asp-route-id="@vacancy.Id">
                                    Деталях
                                </a>
                            </div>
                        </div>
                    }


                }
              @*   <div class="all-vacancy-list-item">
                    <div class="vacancy-title">
                        <p class="vacancy-title-name">Baş Mütəxəssis</p>
                        <div class="vacancy-location-date">
                            <p class="vacancy-location">
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                                    <path d="M6.5 0C3.79082 0 1.625 2.16582 1.625 4.875C1.625 5.81191 1.9043 6.53555 2.38926 7.26934L5.98711 12.7283C6.09629 12.8934 6.28418 13 6.5 13C6.71582 13 6.90625 12.8908 7.01289 12.7283L10.6107 7.26934C11.0957 6.53555 11.375 5.81191 11.375 4.875C11.375 2.16582 9.20918 0 6.5 0ZM6.5 7.58164C5.00449 7.58164 3.79082 6.36797 3.79082 4.86992C3.79082 3.37188 5.00449 2.1582 6.5 2.1582C7.99551 2.1582 9.20918 3.37188 9.20918 4.86992C9.20918 6.36797 7.99551 7.58164 6.5 7.58164Z" fill="#555555" fill-opacity="0.5" />
                                </svg>
                                Bakı, Azərbaycan
                            </p>
                            <p class="vacancy-date">
                                29/10/23
                            </p>
                        </div>
                    </div>
                    <div class="vacancy-detail">
                        <a href="vakansiyalar.detail.html">Ətraflı</a>
                    </div>
                </div>
                <div class="all-vacancy-list-item">
                    <div class="vacancy-title">
                        <p class="vacancy-title-name">Baş Mütəxəssis</p>
                        <div class="vacancy-location-date">
                            <p class="vacancy-location">
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                                    <path d="M6.5 0C3.79082 0 1.625 2.16582 1.625 4.875C1.625 5.81191 1.9043 6.53555 2.38926 7.26934L5.98711 12.7283C6.09629 12.8934 6.28418 13 6.5 13C6.71582 13 6.90625 12.8908 7.01289 12.7283L10.6107 7.26934C11.0957 6.53555 11.375 5.81191 11.375 4.875C11.375 2.16582 9.20918 0 6.5 0ZM6.5 7.58164C5.00449 7.58164 3.79082 6.36797 3.79082 4.86992C3.79082 3.37188 5.00449 2.1582 6.5 2.1582C7.99551 2.1582 9.20918 3.37188 9.20918 4.86992C9.20918 6.36797 7.99551 7.58164 6.5 7.58164Z" fill="#555555" fill-opacity="0.5" />
                                </svg>
                                Bakı, Azərbaycan
                            </p>
                            <p class="vacancy-date">
                                29/10/23
                            </p>
                        </div>
                    </div>
                    <div class="vacancy-detail">
                        <a href="vakansiyalar.detail.html">Ətraflı</a>

                    </div>
                </div>
                <div class="all-vacancy-list-item">
                    <div class="vacancy-title">
                        <p class="vacancy-title-name">Baş Mütəxəssis</p>
                        <div class="vacancy-location-date">
                            <p class="vacancy-location">
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                                    <path d="M6.5 0C3.79082 0 1.625 2.16582 1.625 4.875C1.625 5.81191 1.9043 6.53555 2.38926 7.26934L5.98711 12.7283C6.09629 12.8934 6.28418 13 6.5 13C6.71582 13 6.90625 12.8908 7.01289 12.7283L10.6107 7.26934C11.0957 6.53555 11.375 5.81191 11.375 4.875C11.375 2.16582 9.20918 0 6.5 0ZM6.5 7.58164C5.00449 7.58164 3.79082 6.36797 3.79082 4.86992C3.79082 3.37188 5.00449 2.1582 6.5 2.1582C7.99551 2.1582 9.20918 3.37188 9.20918 4.86992C9.20918 6.36797 7.99551 7.58164 6.5 7.58164Z" fill="#555555" fill-opacity="0.5" />
                                </svg>
                                Bakı, Azərbaycan
                            </p>
                            <p class="vacancy-date">
                                29/10/23
                            </p>
                        </div>
                    </div>
                    <div class="vacancy-detail">
                        <a href="vakansiyalar.detail.html">Ətraflı</a>

                    </div>
                </div>
                <div class="all-vacancy-list-item">
                    <div class="vacancy-title">
                        <p class="vacancy-title-name">Baş Mütəxəssis</p>
                        <div class="vacancy-location-date">
                            <p class="vacancy-location">
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                                    <path d="M6.5 0C3.79082 0 1.625 2.16582 1.625 4.875C1.625 5.81191 1.9043 6.53555 2.38926 7.26934L5.98711 12.7283C6.09629 12.8934 6.28418 13 6.5 13C6.71582 13 6.90625 12.8908 7.01289 12.7283L10.6107 7.26934C11.0957 6.53555 11.375 5.81191 11.375 4.875C11.375 2.16582 9.20918 0 6.5 0ZM6.5 7.58164C5.00449 7.58164 3.79082 6.36797 3.79082 4.86992C3.79082 3.37188 5.00449 2.1582 6.5 2.1582C7.99551 2.1582 9.20918 3.37188 9.20918 4.86992C9.20918 6.36797 7.99551 7.58164 6.5 7.58164Z" fill="#555555" fill-opacity="0.5" />
                                </svg>
                                Bakı, Azərbaycan
                            </p>
                            <p class="vacancy-date">
                                29/10/23
                            </p>
                        </div>
                    </div>
                    <div class="vacancy-detail">
                        <a href="vakansiyalar.detail.html">Ətraflı</a>

                    </div>
                </div>
                <div class="all-vacancy-list-item">
                    <div class="vacancy-title">
                        <p class="vacancy-title-name">Baş Mütəxəssis</p>
                        <div class="vacancy-location-date">
                            <p class="vacancy-location">
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                                    <path d="M6.5 0C3.79082 0 1.625 2.16582 1.625 4.875C1.625 5.81191 1.9043 6.53555 2.38926 7.26934L5.98711 12.7283C6.09629 12.8934 6.28418 13 6.5 13C6.71582 13 6.90625 12.8908 7.01289 12.7283L10.6107 7.26934C11.0957 6.53555 11.375 5.81191 11.375 4.875C11.375 2.16582 9.20918 0 6.5 0ZM6.5 7.58164C5.00449 7.58164 3.79082 6.36797 3.79082 4.86992C3.79082 3.37188 5.00449 2.1582 6.5 2.1582C7.99551 2.1582 9.20918 3.37188 9.20918 4.86992C9.20918 6.36797 7.99551 7.58164 6.5 7.58164Z" fill="#555555" fill-opacity="0.5" />
                                </svg>
                                Bakı, Azərbaycan
                            </p>
                            <p class="vacancy-date">
                                29/10/23
                            </p>
                        </div>
                    </div>
                    <div class="vacancy-detail">
                        <a href="vakansiyalar.detail.html">Ətraflı</a>

                    </div>
                </div>
                <div class="all-vacancy-list-item">
                    <div class="vacancy-title">
                        <p class="vacancy-title-name">Baş Mütəxəssis</p>
                        <div class="vacancy-location-date">
                            <p class="vacancy-location">
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                                    <path d="M6.5 0C3.79082 0 1.625 2.16582 1.625 4.875C1.625 5.81191 1.9043 6.53555 2.38926 7.26934L5.98711 12.7283C6.09629 12.8934 6.28418 13 6.5 13C6.71582 13 6.90625 12.8908 7.01289 12.7283L10.6107 7.26934C11.0957 6.53555 11.375 5.81191 11.375 4.875C11.375 2.16582 9.20918 0 6.5 0ZM6.5 7.58164C5.00449 7.58164 3.79082 6.36797 3.79082 4.86992C3.79082 3.37188 5.00449 2.1582 6.5 2.1582C7.99551 2.1582 9.20918 3.37188 9.20918 4.86992C9.20918 6.36797 7.99551 7.58164 6.5 7.58164Z" fill="#555555" fill-opacity="0.5" />
                                </svg>
                                Bakı, Azərbaycan
                            </p>
                            <p class="vacancy-date">
                                29/10/23
                            </p>
                        </div>
                    </div>
                    <div class="vacancy-detail">
                        <a href="vakansiyalar.detail.html">Ətraflı</a>

                    </div>
                </div> *@
            </div>
        </div>
    </section>
</main>

