@{
    string currentController = ViewBag.CurrentController as string ?? "";
    string currentAction = ViewBag.CurrentAction as string ?? "";
}


<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description"
          content="Responsive HTML Admin Dashboard Template based on Bootstrap 5" />
    <meta name="author" content="NobleUI" />
    <meta name="keywords"
          content="nobleui, bootstrap, bootstrap 5, bootstrap5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web" />

    <title>Fab Admin Template</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
          rel="stylesheet" />
    <!-- End fonts -->
    <!-- core:css -->
    <link rel="stylesheet" href="~/css/" href="~/admin/assets/vendors/core/core.css" />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet"
          href="~/admin/assets/vendors/flatpickr/flatpickr.min.css" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet"
          href="~/admin/assets/fonts/feather-font/css/iconfont.css" />
    <link rel="stylesheet"
          href="~/admin/assets/vendors/flag-icon-css/css/flag-icon.min.css" />
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/admin/assets/css/demo1/style.css" />
    <!-- End layout styles -->

    <link rel="shortcut icon" href="~/admin/assets/images/favicon.png" />
</head>
<body>
    <div class="main-wrapper">
        <nav class="sidebar">
            <div class="sidebar-header">
                <a asp-controller="dashboard" asp-action="index" class="sidebar-brand" style="margin-top: 2rem;">
                    <img src="~/admin/fablogo/FAB YENI LOGO 1.svg" />
                </a>
            </div>
            <div class="sidebar-body">
                

                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button style="    padding: 0.8rem 0.5rem 0.8rem 2rem !important;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="change_active_fill" fill="#8F9297">
                                    <g clip-path="url(#clip0_1_23)">
                                        <path d="M12.154 8.90695C10.8019 8.90695 9.70581 10.003 9.70581 11.3551C9.70581 12.7071 10.8019 13.8032 12.154 13.8032C13.506 13.8032 14.6021 12.7072 14.6021 11.3551C14.6021 10.003 13.506 8.90695 12.154 8.90695ZM12.154 12.6374C11.4457 12.6374 10.8716 12.0633 10.8716 11.355C10.8716 10.6468 11.4457 10.0727 12.154 10.0727C12.8622 10.0727 13.4363 10.6468 13.4363 11.355C13.4363 12.0633 12.8622 12.6374 12.154 12.6374Z" />
                                        <path d="M21.9174 3.31119L6.00455 1.50428C5.38697 1.41648 4.76124 1.59677 4.28506 1.99976C3.80895 2.36894 3.50375 2.91618 3.43988 3.51525L3.14846 5.90509H2.24493C0.962561 5.90509 0.000787611 7.04169 0.000787611 8.32406V20.2441C-0.0315114 21.4669 0.93361 22.4845 2.15651 22.5168C2.18596 22.5175 2.21547 22.5177 2.24493 22.5173H18.2451C19.5275 22.5173 20.6933 21.5264 20.6933 20.2441V19.7778C21.0909 19.701 21.468 19.5421 21.8008 19.3115C22.273 18.9139 22.5753 18.3509 22.646 17.7377L23.9866 5.90509C24.1233 4.61977 23.2009 3.46353 21.9174 3.31119ZM19.5275 20.2441C19.5275 20.8852 18.8863 21.3515 18.2451 21.3515H2.24493C1.66572 21.3686 1.18241 20.9128 1.16539 20.3336C1.1645 20.3038 1.16489 20.2739 1.16656 20.2441V18.0874L5.68396 14.7649C6.22663 14.3483 6.99098 14.3853 7.49092 14.8524L10.6677 17.6502C11.1501 18.0553 11.7573 18.2817 12.3872 18.2914C12.8797 18.2974 13.364 18.1663 13.7862 17.9125L19.5276 14.5901V20.2441H19.5275ZM19.5275 13.2203L13.174 16.9216C12.6285 17.2448 11.9379 17.1863 11.4545 16.7759L8.24864 13.9489C7.32982 13.1594 5.98687 13.111 5.0136 13.8323L1.16656 16.6301V8.32406C1.16656 7.68288 1.60374 7.07087 2.24493 7.07087H18.2451C18.9302 7.09926 19.4834 7.63992 19.5275 8.32406V13.2203ZM22.822 5.74773C22.8216 5.75158 22.8212 5.75548 22.8208 5.75933L21.451 17.5919C21.4534 17.8987 21.3134 18.1893 21.0721 18.3788C20.9555 18.4954 20.6932 18.5537 20.6932 18.612V8.32406C20.6472 6.99634 19.5733 5.93516 18.2451 5.90509H4.31418L4.57648 3.63183C4.63338 3.33746 4.78729 3.0707 5.01366 2.87406C5.26926 2.69734 5.57831 2.61495 5.88802 2.64089L21.7717 4.47696C22.4126 4.53782 22.8828 5.10677 22.822 5.74773Z" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_1_23">
                                            <rect width="24" height="24" />
                                            <rect width="24" height="24" />
                                        </clipPath>
                                    </defs>
                                </svg>
                                <span class="nav_name-dropdown">Product-relateds</span>
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body" style="padding:0 !important;">
                                <a class="nav-link colorblack @(currentController == "Category" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="Category">
                                    <span class="nav_name" style="margin-left:0px !important;">Category</span>
                                </a>
                                <a class="nav-link colorblack @(currentController == "Subcategory" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="Subcategory">
                                    <span class="nav_name" style="margin-left:0px !important;">Subcategory</span>
                                </a>
                                <a class="nav-link colorblack @(currentController == "Product" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="Product">
                                    <span class="nav_name" style="margin-left:0px !important;">Product</span>
                                </a>
                                <a class="nav-link colorblack @(currentController == "Characteristics" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="Characteristics">
                                    <span class="nav_name" style="margin-left:0px !important;">Characteristics</span>
                                </a>
                                <a class="nav-link colorblack @(currentController == "Application" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="Application">
                                    <span class="nav_name" style="margin-left:0px !important;">Application</span>
                                </a>
                                <a class="nav-link colorblack @(currentController == "Appearance" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="Appearance">
                                    <span class="nav_name" style="margin-left:0px !important;">Appearance</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion accordion-flush" id="accordionFlushExample1">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button style="    padding: 0.8rem 0.5rem 0.8rem 2rem !important;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="change_active_fill" fill="#8F9297">
                                    <g clip-path="url(#clip0_1_23)">
                                        <path d="M12.154 8.90695C10.8019 8.90695 9.70581 10.003 9.70581 11.3551C9.70581 12.7071 10.8019 13.8032 12.154 13.8032C13.506 13.8032 14.6021 12.7072 14.6021 11.3551C14.6021 10.003 13.506 8.90695 12.154 8.90695ZM12.154 12.6374C11.4457 12.6374 10.8716 12.0633 10.8716 11.355C10.8716 10.6468 11.4457 10.0727 12.154 10.0727C12.8622 10.0727 13.4363 10.6468 13.4363 11.355C13.4363 12.0633 12.8622 12.6374 12.154 12.6374Z" />
                                        <path d="M21.9174 3.31119L6.00455 1.50428C5.38697 1.41648 4.76124 1.59677 4.28506 1.99976C3.80895 2.36894 3.50375 2.91618 3.43988 3.51525L3.14846 5.90509H2.24493C0.962561 5.90509 0.000787611 7.04169 0.000787611 8.32406V20.2441C-0.0315114 21.4669 0.93361 22.4845 2.15651 22.5168C2.18596 22.5175 2.21547 22.5177 2.24493 22.5173H18.2451C19.5275 22.5173 20.6933 21.5264 20.6933 20.2441V19.7778C21.0909 19.701 21.468 19.5421 21.8008 19.3115C22.273 18.9139 22.5753 18.3509 22.646 17.7377L23.9866 5.90509C24.1233 4.61977 23.2009 3.46353 21.9174 3.31119ZM19.5275 20.2441C19.5275 20.8852 18.8863 21.3515 18.2451 21.3515H2.24493C1.66572 21.3686 1.18241 20.9128 1.16539 20.3336C1.1645 20.3038 1.16489 20.2739 1.16656 20.2441V18.0874L5.68396 14.7649C6.22663 14.3483 6.99098 14.3853 7.49092 14.8524L10.6677 17.6502C11.1501 18.0553 11.7573 18.2817 12.3872 18.2914C12.8797 18.2974 13.364 18.1663 13.7862 17.9125L19.5276 14.5901V20.2441H19.5275ZM19.5275 13.2203L13.174 16.9216C12.6285 17.2448 11.9379 17.1863 11.4545 16.7759L8.24864 13.9489C7.32982 13.1594 5.98687 13.111 5.0136 13.8323L1.16656 16.6301V8.32406C1.16656 7.68288 1.60374 7.07087 2.24493 7.07087H18.2451C18.9302 7.09926 19.4834 7.63992 19.5275 8.32406V13.2203ZM22.822 5.74773C22.8216 5.75158 22.8212 5.75548 22.8208 5.75933L21.451 17.5919C21.4534 17.8987 21.3134 18.1893 21.0721 18.3788C20.9555 18.4954 20.6932 18.5537 20.6932 18.612V8.32406C20.6472 6.99634 19.5733 5.93516 18.2451 5.90509H4.31418L4.57648 3.63183C4.63338 3.33746 4.78729 3.0707 5.01366 2.87406C5.26926 2.69734 5.57831 2.61495 5.88802 2.64089L21.7717 4.47696C22.4126 4.53782 22.8828 5.10677 22.822 5.74773Z" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_1_23">
                                            <rect width="24" height="24" />
                                            <rect width="24" height="24" />
                                        </clipPath>
                                    </defs>
                                </svg>
                                <span class="nav_name-dropdown">Media</span>
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample1">
                            <div class="accordion-body" style="padding:0 !important;">
                                <a class="nav-link colorblack @(currentController == "Blog" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="Blog">
                                    <span class="nav_name" style="margin-left:0px !important;">Blog</span>
                                </a>
                                <a class="nav-link colorblack @(currentController == "Press" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="Press">
                                    <span class="nav_name" style="margin-left:0px !important;">Press-releases</span>
                                </a>
                                <a class="nav-link colorblack @(currentController == "News" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="News">
                                    <span class="nav_name" style="margin-left:0px !important;">News</span>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion accordion-flush" id="accordionFlushExample2">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button style="    padding: 0.8rem 0.5rem 0.8rem 2rem !important;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="change_active_fill" fill="#8F9297">
                                    <g clip-path="url(#clip0_1_23)">
                                        <path d="M12.154 8.90695C10.8019 8.90695 9.70581 10.003 9.70581 11.3551C9.70581 12.7071 10.8019 13.8032 12.154 13.8032C13.506 13.8032 14.6021 12.7072 14.6021 11.3551C14.6021 10.003 13.506 8.90695 12.154 8.90695ZM12.154 12.6374C11.4457 12.6374 10.8716 12.0633 10.8716 11.355C10.8716 10.6468 11.4457 10.0727 12.154 10.0727C12.8622 10.0727 13.4363 10.6468 13.4363 11.355C13.4363 12.0633 12.8622 12.6374 12.154 12.6374Z" />
                                        <path d="M21.9174 3.31119L6.00455 1.50428C5.38697 1.41648 4.76124 1.59677 4.28506 1.99976C3.80895 2.36894 3.50375 2.91618 3.43988 3.51525L3.14846 5.90509H2.24493C0.962561 5.90509 0.000787611 7.04169 0.000787611 8.32406V20.2441C-0.0315114 21.4669 0.93361 22.4845 2.15651 22.5168C2.18596 22.5175 2.21547 22.5177 2.24493 22.5173H18.2451C19.5275 22.5173 20.6933 21.5264 20.6933 20.2441V19.7778C21.0909 19.701 21.468 19.5421 21.8008 19.3115C22.273 18.9139 22.5753 18.3509 22.646 17.7377L23.9866 5.90509C24.1233 4.61977 23.2009 3.46353 21.9174 3.31119ZM19.5275 20.2441C19.5275 20.8852 18.8863 21.3515 18.2451 21.3515H2.24493C1.66572 21.3686 1.18241 20.9128 1.16539 20.3336C1.1645 20.3038 1.16489 20.2739 1.16656 20.2441V18.0874L5.68396 14.7649C6.22663 14.3483 6.99098 14.3853 7.49092 14.8524L10.6677 17.6502C11.1501 18.0553 11.7573 18.2817 12.3872 18.2914C12.8797 18.2974 13.364 18.1663 13.7862 17.9125L19.5276 14.5901V20.2441H19.5275ZM19.5275 13.2203L13.174 16.9216C12.6285 17.2448 11.9379 17.1863 11.4545 16.7759L8.24864 13.9489C7.32982 13.1594 5.98687 13.111 5.0136 13.8323L1.16656 16.6301V8.32406C1.16656 7.68288 1.60374 7.07087 2.24493 7.07087H18.2451C18.9302 7.09926 19.4834 7.63992 19.5275 8.32406V13.2203ZM22.822 5.74773C22.8216 5.75158 22.8212 5.75548 22.8208 5.75933L21.451 17.5919C21.4534 17.8987 21.3134 18.1893 21.0721 18.3788C20.9555 18.4954 20.6932 18.5537 20.6932 18.612V8.32406C20.6472 6.99634 19.5733 5.93516 18.2451 5.90509H4.31418L4.57648 3.63183C4.63338 3.33746 4.78729 3.0707 5.01366 2.87406C5.26926 2.69734 5.57831 2.61495 5.88802 2.64089L21.7717 4.47696C22.4126 4.53782 22.8828 5.10677 22.822 5.74773Z" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_1_23">
                                            <rect width="24" height="24" />
                                            <rect width="24" height="24" />
                                        </clipPath>
                                    </defs>
                                </svg>
                                <span class="nav_name-dropdown">Home Page models</span>
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample2">
                            <div class="accordion-body" style="padding:0 !important;">
                                <a class="nav-link colorblack @(currentController == "Banner" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="Banner">
                                    <span class="nav_name" style="margin-left:0px !important;">Slider</span>
                                </a>
                                <a class="nav-link colorblack @(currentController == "Interior" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="Interior">
                                    <span class="nav_name" style="margin-left:0px !important;">Interior</span>
                                </a>
                                <a class="nav-link colorblack @(currentController == "Twin" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="Twin">
                                    <span class="nav_name" style="margin-left:0px !important;">Twin</span>
                                </a>
                                <a class="nav-link colorblack @(currentController == "Corporate" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="Corporate">
                                    <span class="nav_name" style="margin-left:0px !important;">Corporate</span>
                                </a>
                                <a class="nav-link colorblack @(currentController == "Ads" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="Ads">
                                    <span class="nav_name" style="margin-left:0px !important;">Ads</span>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion accordion-flush" id="accordionFlushExample3">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button style="    padding: 0.8rem 0.5rem 0.8rem 2rem !important;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="change_active_fill" fill="#8F9297">
                                    <g clip-path="url(#clip0_1_23)">
                                        <path d="M12.154 8.90695C10.8019 8.90695 9.70581 10.003 9.70581 11.3551C9.70581 12.7071 10.8019 13.8032 12.154 13.8032C13.506 13.8032 14.6021 12.7072 14.6021 11.3551C14.6021 10.003 13.506 8.90695 12.154 8.90695ZM12.154 12.6374C11.4457 12.6374 10.8716 12.0633 10.8716 11.355C10.8716 10.6468 11.4457 10.0727 12.154 10.0727C12.8622 10.0727 13.4363 10.6468 13.4363 11.355C13.4363 12.0633 12.8622 12.6374 12.154 12.6374Z" />
                                        <path d="M21.9174 3.31119L6.00455 1.50428C5.38697 1.41648 4.76124 1.59677 4.28506 1.99976C3.80895 2.36894 3.50375 2.91618 3.43988 3.51525L3.14846 5.90509H2.24493C0.962561 5.90509 0.000787611 7.04169 0.000787611 8.32406V20.2441C-0.0315114 21.4669 0.93361 22.4845 2.15651 22.5168C2.18596 22.5175 2.21547 22.5177 2.24493 22.5173H18.2451C19.5275 22.5173 20.6933 21.5264 20.6933 20.2441V19.7778C21.0909 19.701 21.468 19.5421 21.8008 19.3115C22.273 18.9139 22.5753 18.3509 22.646 17.7377L23.9866 5.90509C24.1233 4.61977 23.2009 3.46353 21.9174 3.31119ZM19.5275 20.2441C19.5275 20.8852 18.8863 21.3515 18.2451 21.3515H2.24493C1.66572 21.3686 1.18241 20.9128 1.16539 20.3336C1.1645 20.3038 1.16489 20.2739 1.16656 20.2441V18.0874L5.68396 14.7649C6.22663 14.3483 6.99098 14.3853 7.49092 14.8524L10.6677 17.6502C11.1501 18.0553 11.7573 18.2817 12.3872 18.2914C12.8797 18.2974 13.364 18.1663 13.7862 17.9125L19.5276 14.5901V20.2441H19.5275ZM19.5275 13.2203L13.174 16.9216C12.6285 17.2448 11.9379 17.1863 11.4545 16.7759L8.24864 13.9489C7.32982 13.1594 5.98687 13.111 5.0136 13.8323L1.16656 16.6301V8.32406C1.16656 7.68288 1.60374 7.07087 2.24493 7.07087H18.2451C18.9302 7.09926 19.4834 7.63992 19.5275 8.32406V13.2203ZM22.822 5.74773C22.8216 5.75158 22.8212 5.75548 22.8208 5.75933L21.451 17.5919C21.4534 17.8987 21.3134 18.1893 21.0721 18.3788C20.9555 18.4954 20.6932 18.5537 20.6932 18.612V8.32406C20.6472 6.99634 19.5733 5.93516 18.2451 5.90509H4.31418L4.57648 3.63183C4.63338 3.33746 4.78729 3.0707 5.01366 2.87406C5.26926 2.69734 5.57831 2.61495 5.88802 2.64089L21.7717 4.47696C22.4126 4.53782 22.8828 5.10677 22.822 5.74773Z" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_1_23">
                                            <rect width="24" height="24" />
                                            <rect width="24" height="24" />
                                        </clipPath>
                                    </defs>
                                </svg>
                                <span class="nav_name-dropdown">Company informations</span>
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample3">
                            <div class="accordion-body" style="padding:0 !important;">
                                <a class="nav-link colorblack @(currentController == "About" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="About">
                                    <span class="nav_name" style="margin-left:0px !important;">About</span>
                                </a>
                                <a class="nav-link colorblack @(currentController == "Activity" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="Activity">
                                    <span class="nav_name" style="margin-left:0px !important;">Activity</span>
                                </a>
                                <a class="nav-link colorblack @(currentController == "Achivement" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="Achivement">
                                    <span class="nav_name" style="margin-left:0px !important;">Achivement</span>
                                </a>
                                <a class="nav-link colorblack @(currentController == "Vision" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="Vision">
                                    <span class="nav_name" style="margin-left:0px !important;">Vision</span>
                                </a>
                                <a class="nav-link colorblack @(currentController == "Contact" && currentAction == "Index1" ? "active" : "")" asp-action="Index1" asp-controller="Contact">
                                    <span class="nav_name" style="margin-left:0px !important;">Contact informations</span>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion accordion-flush" id="accordionFlushExample5">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive">
                            <button style="    padding: 0.8rem 0.5rem 0.8rem 2rem !important;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="change_active_fill" fill="#8F9297">
                                    <g clip-path="url(#clip0_1_23)">
                                        <path d="M12.154 8.90695C10.8019 8.90695 9.70581 10.003 9.70581 11.3551C9.70581 12.7071 10.8019 13.8032 12.154 13.8032C13.506 13.8032 14.6021 12.7072 14.6021 11.3551C14.6021 10.003 13.506 8.90695 12.154 8.90695ZM12.154 12.6374C11.4457 12.6374 10.8716 12.0633 10.8716 11.355C10.8716 10.6468 11.4457 10.0727 12.154 10.0727C12.8622 10.0727 13.4363 10.6468 13.4363 11.355C13.4363 12.0633 12.8622 12.6374 12.154 12.6374Z" />
                                        <path d="M21.9174 3.31119L6.00455 1.50428C5.38697 1.41648 4.76124 1.59677 4.28506 1.99976C3.80895 2.36894 3.50375 2.91618 3.43988 3.51525L3.14846 5.90509H2.24493C0.962561 5.90509 0.000787611 7.04169 0.000787611 8.32406V20.2441C-0.0315114 21.4669 0.93361 22.4845 2.15651 22.5168C2.18596 22.5175 2.21547 22.5177 2.24493 22.5173H18.2451C19.5275 22.5173 20.6933 21.5264 20.6933 20.2441V19.7778C21.0909 19.701 21.468 19.5421 21.8008 19.3115C22.273 18.9139 22.5753 18.3509 22.646 17.7377L23.9866 5.90509C24.1233 4.61977 23.2009 3.46353 21.9174 3.31119ZM19.5275 20.2441C19.5275 20.8852 18.8863 21.3515 18.2451 21.3515H2.24493C1.66572 21.3686 1.18241 20.9128 1.16539 20.3336C1.1645 20.3038 1.16489 20.2739 1.16656 20.2441V18.0874L5.68396 14.7649C6.22663 14.3483 6.99098 14.3853 7.49092 14.8524L10.6677 17.6502C11.1501 18.0553 11.7573 18.2817 12.3872 18.2914C12.8797 18.2974 13.364 18.1663 13.7862 17.9125L19.5276 14.5901V20.2441H19.5275ZM19.5275 13.2203L13.174 16.9216C12.6285 17.2448 11.9379 17.1863 11.4545 16.7759L8.24864 13.9489C7.32982 13.1594 5.98687 13.111 5.0136 13.8323L1.16656 16.6301V8.32406C1.16656 7.68288 1.60374 7.07087 2.24493 7.07087H18.2451C18.9302 7.09926 19.4834 7.63992 19.5275 8.32406V13.2203ZM22.822 5.74773C22.8216 5.75158 22.8212 5.75548 22.8208 5.75933L21.451 17.5919C21.4534 17.8987 21.3134 18.1893 21.0721 18.3788C20.9555 18.4954 20.6932 18.5537 20.6932 18.612V8.32406C20.6472 6.99634 19.5733 5.93516 18.2451 5.90509H4.31418L4.57648 3.63183C4.63338 3.33746 4.78729 3.0707 5.01366 2.87406C5.26926 2.69734 5.57831 2.61495 5.88802 2.64089L21.7717 4.47696C22.4126 4.53782 22.8828 5.10677 22.822 5.74773Z" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_1_23">
                                            <rect width="24" height="24" />
                                            <rect width="24" height="24" />
                                        </clipPath>
                                    </defs>
                                </svg>
                                <span class="nav_name-dropdown">Work with us</span>
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample5">
                            <div class="accordion-body" style="padding:0 !important;">
                                
                                <a class="nav-link colorblack @(currentController == "Vacancy" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="Vacancy">
                                    <span class="nav_name" style="margin-left:0px !important;">Vacancy</span>
                                </a>
                                

                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="sidebar-logout" style="position: absolute; bottom: 2rem;">
                        <a asp-action="Logout" asp-controller="Account" class="text-muted mb-1 mb-md-0 log-out">
                            <svg width="24"
                                 height="24"
                                 viewBox="0 0 24 24"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_239_2266)">
                                    <path d="M11.9602 21.9668H2.99002C2.43984 21.9668 1.99336 21.5203 1.99336 20.9702V3.02992C1.99336 2.47975 2.43989 2.03326 2.99002 2.03326H11.9602C12.5113 2.03326 12.9568 1.58776 12.9568 1.03661C12.9568 0.48545 12.5113 0.039856 11.9602 0.039856H2.99002C1.34152 0.039856 0 1.38142 0 3.02992V20.9701C0 22.6186 1.34152 23.9601 2.99002 23.9601H11.9602C12.5113 23.9601 12.9568 23.5146 12.9568 22.9635C12.9568 22.4123 12.5113 21.9668 11.9602 21.9668Z"
                                          fill="#FF7070" />
                                    <path d="M23.703 11.2904L17.6432 5.31028C17.2525 4.92356 16.6206 4.92858 16.2339 5.32027C15.8472 5.71196 15.8512 6.34285 16.2439 6.72956L20.5744 11.0033H8.97011C8.41895 11.0033 7.97345 11.4488 7.97345 12C7.97345 12.5511 8.41895 12.9967 8.97011 12.9967H20.5744L16.2439 17.2704C15.8512 17.6571 15.8482 18.288 16.2339 18.6797C16.4292 18.877 16.6864 18.9767 16.9435 18.9767C17.1967 18.9767 17.4498 18.881 17.6432 18.6896L23.703 12.7095C23.8924 12.5222 24 12.267 24 11.9999C24 11.7329 23.8934 11.4788 23.703 11.2904Z"
                                          fill="#FF7070" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_239_2266">
                                        <rect width="24" height="24" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                            Log out
                        </a>
                    </div>

                </div>

            </div>

        </nav>



        @*/////////////////////////////////////////////////*@
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        @*/////////////////////////////////////////////////*@



        <footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between px-4 py-3 border-top small">
        </footer>
    </div>
    </div>
    <script src="~/admin/assets/vendors/core/core.js"></script>
    <script src="~/admin/assets/vendors/flatpickr/flatpickr.min.js"></script>
    <script src="~/admin/assets/vendors/apexcharts/apexcharts.min.js"></script>
    <script src="~/admin/assets/vendors/feather-icons/feather.min.js"></script>
    <script src="~/admin/assets/js/template.js"></script>
    <script src="~/admin/assets/js/dashboard-light.js"></script>
    @RenderSection("Scripts", required:false)
</body>
</html>
